.create-modal {

  .form {

    &-buttons {

      button.accept {
        cursor: pointer;
        background-color: #1976d2;
        border: none;
        border-radius: 5px;
        padding: 14px;
        font-size: 24px;
        font-weight: bold;
        color: white;
        box-shadow: 0px 6px 18px -5px #1976d2;
      }

    }
  }


}
