<div class="toolbar">

  <div class="circle-link-container">

    <a class="circle-link" title="Github" href="https://github.com/AdrianAgui" target="_blank" rel="noopener">
      <span class="circle-icon">
        <fa-icon [icon]="faGithub"></fa-icon>
      </span>
    </a>

    <a class="circle-link" title="Linkedin" href="https://www.linkedin.com/in/adrian-aguirre-sanchez/" target="_blank"
      rel="noopener">
      <span class="circle-icon">
        <fa-icon [icon]="faLinkedin"></fa-icon>
      </span>
    </a>
  </div>

</div>
