.posts {
  &__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 75%;
    margin: 2rem auto;
  }

  &__create {
    margin-left: 2rem;

    width: auto;
    min-width: 30%;

    @media screen and (max-width: 767px) {
      margin: 0;
    }
  }

  &__searcher {
    display: flex;
    align-items: center;
    margin: 1rem 1rem 0 0;

    @media screen and (max-width: 767px) {
      flex-direction: column;
      margin: 0;
    }
  }

  &__count {
    margin-top: 1rem;

    h2 {
      font-family: Caveat, Roboto;
      white-space: nowrap;
    }
  }

}

.searcher__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 75%;

  @media screen and (max-width: 767px) {
    justify-content: center;
    flex-direction: column;
    margin-top: 2rem;
  }
}
