<div>

  <div class="searcher__bar">
    <div (click)="openCreateModal()" class="posts__create">
      <app-button [text]="Labels.Create"></app-button>
    </div>

    <div class="posts__searcher">
      <div class="posts__count">
        <h2>Posts: {{ postsView.length }}</h2>
      </div>

      <app-searcher (onFilterChange)="filterChange($event)"></app-searcher>
    </div>
  </div>

  <div *ngIf="postsView.length > 0" class="posts">
    <div class="posts__container">
      <ng-container *ngFor="let post of postsView">
        <app-post [post]="post"></app-post>
      </ng-container>
    </div>
  </div>

</div>
