.posts {
  &__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 75%;
    margin: 2rem auto;
  }

  &__create {
    margin-left: 2rem;

    width: auto;
    min-width: 30%;

    @media screen and (max-width: 767px) {
      margin: 0;
    }
  }

  &__searcher {
    display: flex;
    align-items: center;
    margin: 1rem 1rem 0 0;

    @media screen and (max-width: 767px) {
      flex-direction: column;
    }
  }

  &__count {
    margin-right: 1rem;
  }

  &__card {
    height: 350px;
    width: 250px;
    background: #f2f2f2;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 8px 4px #d0d0d0;
    margin: 1rem;
    overflow-y: auto;

    &--content {
      text-align: justify;
      color: black;
      padding: 2rem;

      &-title {
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 1rem;
      }

      &-body {
        font-size: 14px;
      }
    }
  }
}

.searcher__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 75%;

  @media screen and (max-width: 767px) {
    justify-content: center;
    flex-direction: column;
    margin-top: 2rem;
  }
}


.button {
  background: rgb(114, 114, 114);
  font-weight: 700;
  padding: 0;
  border-radius: 5px;
  cursor: pointer;

  &__text {
    font-size: 20px;
  }
}

.button span {
  display: block;
  color: white;
  background: #1976d2;
  padding: 1rem 1.5rem;
  border: 1px solid #000;
  border-radius: 5px;
  transform: translate3d(-4px, -4px, 0);
  transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}

.button:hover span {
  background: #8594eb;
  transform: translate3d(-8px, -8px, 0);
}
