<div class="searcher__bar">

  <div class="posts__create">
    <button class="button"><span class="button__text">Create</span></button>
  </div>


  <div class="posts__searcher">
    <div class="posts__count">
      <h2>Posts: {{ postsView.length }}</h2>
    </div>

    <app-searcher (onFilterChange)="filterChange($event)"></app-searcher>

  </div>

</div>


<div *ngIf="postsView.length > 0" class="posts">

  <div class="posts__container">

    <div class="posts__card" *ngFor="let post of postsView">
      <div class="posts__card--content">
        <div class="posts__card--content-title">{{post.title}} (user: {{post.userId}})</div>
        <span class="posts__card--content-body">{{post.body}}</span>
      </div>
    </div>

  </div>

</div>
