<div class="app-modal details-modal">
  <div class="closebar">
    <button (click)="close()" class="close">✖</button>
  </div>

  <div class="details-modal__container-data">

    <div class="details-modal__header">
      <div class="details-modal__header--title">{{ post?.title }}</div>
    </div>

    <div class="details-modal__content">
      <span class="details-modal__content-body">
        {{ post?.body }}
      </span>
    </div>

    <div class="details-modal__footer">
      <span>
        posted by: <b>@{{ userName }}</b>
      </span>
    </div>
  </div>

  <div class="details-modal__container-comments">

    <div class="commentary" *ngFor="let comment of comments">

      <div class="commentary__avatar">
        <fa-icon [icon]="faUser"></fa-icon>
      </div>

      <div class="commentary__box">
        <p class="commentary__box-email">{{ comment.email }}</p>
        <p class="commentary__box-text">{{ comment.body }}</p>
      </div>

    </div>

  </div>
</div>

<div class="backdrop"></div>
