.details-modal {
  .closebar {
    justify-content: flex-end;
  }

  &__container-data {
    @media screen and (max-width: 768px) {
      padding: 0 3rem;
      margin-top: 5rem;
    }
  }

  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--title {
      font-size: 20px;
      font-weight: bold;
    }
  }

  &__content {
    margin: 2rem 0;
    line-height: 1.5;
  }

  &__footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
  }
}
